Services Page


<table border="1">
	<tr>
		<th>Id</th>
		<th>Fname</th>
		<th>lname</th>
		<th>age</th>
		<th>Email</th>
		<th>Password</th>
		<th>Actoins</th>
	</tr>
	<tr *ngFor="let user of userdata">
		<td>{{user.id}}</td>
		<td>{{user.fname}}</td>
		<td>{{user.lname}}</td>
		<td>{{user.age}}</td>
		<td>{{user.email}}</td>
		<td>{{user.password}}</td>
		<td>
			<span (click)="getSingleUser(user.id)">veiw</span> &nbsp;&nbsp;&nbsp;
			<span (click)="updateUser(user.id)">update</span> &nbsp;&nbsp;&nbsp;
			<span (click)="deleteUser(user.id)">delete</span> &nbsp;&nbsp;&nbsp;
		</td>
	</tr>
</table>
<br>
<button (click)="createUser()"> Create </button>

<h1> Single User</h1>
<div *ngIf="singleUser">
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Fname</th>
			<th>lname</th>
			<th>age</th>
			<th>Email</th>
			<th>Password</th>
		</tr>
		<tr >
			<td>{{singleUser.id}}</td>
			<td>{{singleUser.fname}}</td>
			<td>{{singleUser.lname}}</td>
			<td>{{singleUser.age}}</td>
			<td>{{singleUser.email}}</td>
			<td>{{singleUser.password}}</td>
		</tr>
	</table>
</div>