

<table border="1">
	<tr>
		<th>ID</th>
		<th>FName</th>
		<th>LName</th>
		<th>Age</th>
		<th>Email</th>
		<th>Password</th>
		<th>action</th>
	</tr>
	<tr *ngFor="let user of users">
		<td>{{user.id}}</td>
		<td>{{user.fname}}</td>
		<td>{{user.lname}}</td>
		<td>{{user.age}}</td>
		<td>{{user.email}}</td>
		<td>{{user.password}}</td>
		<td>
		<a [routerLink] = "['/user-view/'+user.id]">	View</a>
		</td>

	</tr>
</table>

<button (click)="callMe()">Create a User</button>


		<a [routerLink] = "['/child']">	child</a>
