<h1>Angular Training Course</h1>

<ul class="menu">
	<li><a [routerLink]="['/']" > Home </a></li>
	<li><a [routerLink]="['/variables']"> Variables & Expressions </a></li>
	<li><a [routerLink]="['/directives']"> Directives </a></li>
	<li><a [routerLink]="['/forms']"> Forms </a></li>
	<li><a [routerLink]="['/services']"> Services </a></li>
	<li><a [routerLink]="['/custom/1']"> customs </a></li>
	<li><a [routerLink]="['/life-hooks']"> Life Hooks </a></li>
</ul>

<!-- <my-product></my-product>
<my-fruits></my-fruits>
 -->

 <router-outlet></router-outlet>
 
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
&copy; CopyRights of Qshore 2017	
</footer>