<h1 style="text-align:center">ANGULAR 4 APP</h1>
<ul class="menu">
	<li><a [routerLink]="['/trail']"> Trail </a></li>
	<li><a [routerLink]="['/intro']"> Intro </a></li>
	<li><a [routerLink]="['/directives']"> Directives </a></li>
	<li><a [routerLink]="['/forms']"> Forms </a></li>
	<li><a [routerLink]="['/pipes']"> Pipes </a></li>
	<li><a [routerLink]="['/apis']"> API's </a></li>
	<li><a [routerLink]="['/life-cycle']"> Life Cycle Hooks </a></li>
</ul>
<div style="background-color: #cee;margin-top: -16px;padding: 15px; min-height:700px">
<router-outlet></router-outlet>
</div>