Hello
<pre>
	string ::: {{name}}
	number :: {{age}}
	boolean :: {{correct}}
	string [] :: {{fruits}} -- {{fruits[0]}}
	number[] :: {{ages}} -- {{ages[1]}}
	tuple :: {{tuple}}  -- {{tuple[2]}}
	object:any :: {{users}} , {{users.name}}, {{users.tech}} , {{users.area}}
	null :: {{a}}
	asd

	Expressions

	{{age}} + {{two}} = {{age + two}}
	{{age}} * {{two}} = {{age * two}}
	{{age}} - {{two}} = {{age - two}}
	{{age}} / {{two}} = {{age / two}}
	{{age}} % {{two}} = {{age % two}}

	{{2+3}}
	{{2-3}}
	{{2*3}}
<!-- <button type="button" [appConfirm]="companyName"  confirmMessag="in which company you are working"> Google.com</button>
 --></pre>

<p style="background-color:tomato;" title="{{age}}" > Hello how are you</p>



<input id="selected" list="browsers" name="browser">
<input id="submit" type="submit">